.App {
  font-family: sans-serif;
  text-align: center;
}

/* .product-form {
  width: 80%;
  margin: auto;
}

.form-input {
  text-align: left;
}

.form-input input {
  margin-left: 30px;
  padding: 5px;
  text-align: left;
  vertical-align: middle;
}

.form-input textarea {
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 20px;
  height: 100px;
}
.product-form button {
  float: right;
  padding: 10px;
} */
